@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap");

body {
    font-family: 'Oswald';
    font-weight: 200;
    background-color: lightslategray;
    align-content: center;
    text-align: center;
}

form{
    background-color: white;
    border-radius: 10px;
    margin: 40px;
    padding: 40px;
    box-sizing: content-box;
    width: min-content;
    text-align: left;
    display: inline-block;
}

h1 {
    text-align: center;
}

input[type="submit"], input[type="button"] {
    border: 0px;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.full {
    width: 100%;
}

input[type="date"] {
    opacity: 0.5;
}

.input-warning {
    color: red;
}

.success-warning {
    color: green
}

#submit{
    background-color: green;
}
#reset{
    background-color: red;
}